# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VitePress
.vitepress/cache
.vitepress/dist
docs/Resources/People

docs/Diary/May 18th 2025, Paris.md
docs/Diary/May 17th 2025, Paris.md
docs/Diary/May 16th 2025, Paris.md
docs/Diary/May 15th 2025, Paris.md
docs/Diary/May 14th 2025, Paris.md
docs/Diary/May 13th 2025, Paris.md
docs/Diary/May 20th 2025, Paris.md
docs/Diary/May 19th 2025, Paris.md
docs/Diary/May 21st 2025, Paris.md
docs/Diary/May 22nd 2025, Paris.md
docs/Diary/May 23th 2025, Paris.md
docs/Diary/May 24th 2025, Paris.md
docs/Diary/May 25th 2025, Paris.md
docs/Diary/May 26th 2025, Paris.md
docs/Diary/May 27th 2025, Paris.md
docs/Diary/May 28th 2025, Paris.md
docs/Diary/May 29th 2025, Paris.md
docs/Diary/May 30th 2025, Paris.md
docs/Diary/May 31th 2025, Paris.md
docs/Diary/June 1st 2025, Paris.md
docs/Diary/June 2nd 2025, Paris.md
docs/Diary/June 3rd 2025, Paris.md
docs/Diary/June 4th 2025, Paris.md
docs/Diary/June 5th 2025, Paris.md
docs/Diary/June 6th 2025, Paris.md